{% extends "recetas/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recetas.css' %}">

<h1 class="titulo-pagina">Mis Recetas</h1>

<div class="tarjetas-container">
    {% for receta in recetas %}
    <div class="tarjeta">
        {% if receta.imagen %}
            <img src="{{ receta.imagen.url }}" alt="{{ receta.titulo }}" class="tarjeta-imagen">
        {% endif %}

        <div class="tarjeta-info">
            <h3>{{ receta.titulo }}</h3>
            <p>{{ receta.descripcion|truncatechars:100 }}</p>
            <p><strong>Categoría:</strong> {{ receta.categoria.nombre }}</p>
            <a href="{% url 'recetas:editar_receta' receta.id %}" class="btn-detalle">Editar</a>
        </div>
    </div>
    {% empty %}
        <p>No tienes recetas creadas aún.</p>
    {% endfor %}
</div>
{% endblock %}
